body,
html {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(227, 227, 227);
}

.pages-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(195, 195, 195);
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  margin-bottom: 18px;
  color: rgb(99, 99, 99);
}

a:hover {
  cursor: pointer;
  color: rgb(37, 37, 37);
}
